<div class=" container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Sign in to Lunch-Mator </h1>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <input [(ngModel)]="email" type="email" name="inputEmail" id="inputEmail" class="form-control"
                     placeholder="Email address" required="" autofocus="">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" [(ngModel)]="password" id="inputPassword" name="inputPassword" class="form-control"
                     placeholder="Password" required="">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <input type="submit" value="Sign in" (click)="signIn()" class="btn btn-info btn-block">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
