<a class="list-group-item">
  <h4>
    {{lunch?.lunchName}} at {{lunch?.restaurant?.name}}
    <span class="pull-right">
        <span *ngIf="lunch.spotsLeft > 0">
          <button type="button" class="btn btn-success" (click)="join(lunch)"> Join </button>
        </span>
        <span *ngIf="lunch.spotsLeft < 1">
          <button type="button" class="btn btn-danger"> Full </button>
        </span>
        <span *ngIf="myLunch">
          <button (click)="leave(lunch)" type="button" class="btn btn-danger"> Leave </button>
        </span>
        <span>
          <button (click)="details(lunch)" type="button" class="btn btn-primary"> Details </button>
        </span>
      </span>
  </h4>
  <div>
    {{lunch?.restaurant?.description}}
  </div>
  <div>
    Starts at: {{startTime}}
  </div>
  <div *ngIf="lunch.spotsLeft">
    Seats left: {{lunch.spotsLeft}}
  </div>
</a>
