<a class="list-group-item" >
  <h4>
    {{lunch?.restaurant?.name}}
    <span class="pull-right">
        <span *ngIf="lunch.seatsLeft > 0">
          <button type="button" class="btn btn-success" onclick="alert('Join');"> Join </button>
        </span>
        <span *ngIf="lunch.seatsLeft == 0">
          <button type="button" class="btn btn-danger"> Full </button>
        </span>
        <span *ngIf="!lunch.anonymous">
          <button type="button" class="btn btn-primary"> Details </button>
        </span>
      </span>
  </h4>
  <div>
    {{lunch?.restaurant?.description}}
  </div>
  <div>
    Starts at: {{lunch?.start}}
  </div>
  <div>
    Seats left: {{lunch?.seatsLeft}}
  </div>
</a>
