<error-detail [error]="error"></error-detail>
<alert-detail [alert]="alert"></alert-detail>

<div class=" container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Add a new restaurant</h1>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <ng2-completer class="form-group" [ngModelOptions]="{standalone: true}" [(ngModel)]="restaurantName"
                             [dataService]="dataService" [minSearchLength]="0" inputName="Restaurant name"
                             placeholder="Restaurant name" overrideSuggested="true"></ng2-completer>
            </div>
            <div class="form-group">
              <input [(ngModel)]="description" type="text" name="description" id="description" class="form-control"
                     placeholder="Description (Cuisine)">
            </div>
            <div class="form-group">
              <input [(ngModel)]="website" name="website" id="website" class="form-control"
                     placeholder="Google maps url for the restaurant">
            </div>
            <button type="submit" (click)="add()" class="btn btn-info btn-block">
              <div *ngIf="!waiting">Add</div>
              <i *ngIf="waiting" class="fa fa-spinner fa-spin"></i>
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
