.comment-header-timestamp {
  font-size: 80%;
}

.message-content {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  background-color: rgba(78, 93, 109, 0.51);
}

.comment-header {
  padding-left: 15px;
  background-color: #4E5D6D;
  border-bottom: 1px solid #d1d5da;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

