@import url("registration-form.scss");
@import url("theme.scss");

html, body {
  height: 100vh;
}

header {
  .navbar {
    margin-bottom: 0;
  }
}

.disabled {
  cursor: not-allowed;
}

.lm-btn-welcome {
  margin: 10px;
  width: 150px;
}

.loading-container {
  position: fixed;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  display: block;
}

.loading-animation {
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -250px;
}

.list-group-item {
  border-left: 0;
  border-right: 0;
  margin-bottom: 2px;
  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}

.completer-dropdown {
  width: 100% !important;
}

.completer-row {
  padding: 5px;
  color: #000000;
  margin-bottom: 4px;
  clear: both;
  display: inline-block;
  width: 100%;
}

.completer-dropdown-holder {
  width: inherit;
  position: relative;
}

.completer-selected-row {
  background-color: lightblue;
  color: #ffffff;
  width: 100% !important;;
}

.match {
  color: orangered;
}

.form-label {
  color: black;
  font-size: 0.95em;
}

.horizontal-space {
  height: 100px;
  width: 100%;
  float: none;
}

.message-input {
  textarea {
    width: 100%;
  }
}

.message-content{
  padding-left: 3em;
  padding-bottom: 1em;
}

.messages {
}
