<form ng-submit="postMessage()" class="message-input">
  <textarea type="text" name="lunch-name" id="lunch-name" [(ngModel)]="messageText"
            (keydown.control.Enter)="postMessage()" (keydown.meta.Enter)="postMessage()"
            placeholder="Enter new message" autofocus></textarea><br>
  <button type="submit" (click)="postMessage()" class="btn btn-success btn-block">
    <div *ngIf="!waiting">Comment
      <span *ngIf="!ifWindows()" class="shortcut">(⌘ + ⏎)</span>
      <span *ngIf="ifWindows()" class="shortcut">(ctrl + ⏎)</span>
    </div>
    <i *ngIf="waiting" class="fa fa-spinner fa-spin"></i>
  </button>
</form>
