<div class="container">
  <div *ngIf="restaurantList">
    <h3 class="text-center">Click start on the restaurant of your choice. <br>You can also
      <a routerLink="/s/restaurant/add">add</a> a restaurant
    </h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let restaurant of restaurantList">
        <restaurant-item (requestStart)="start($event)" [restaurant]="restaurant"></restaurant-item>
      </li>
    </ul>
  </div>
  <div *ngIf="(!restaurantList || restaurantList.length == 0) && !waiting">
    <h1>Oh! Looks like there are no restaurants. Go ahead, <a routerLink="/s/restaurant/add">add</a> one now!</h1>
  </div>
</div>
