<div class="container" *ngIf="alert && alert.message">
  <div class="alert alert-info" style="text-align: center">
    <strong>{{alert.message}}</strong>
  </div>
</div>

<div class="container" *ngIf="alert && alert.successMessage">
  <div class="alert alert-success" style="text-align: center">
    <strong>{{alert.successMessage}}</strong>
  </div>
</div>

<div class="container" *ngIf="alert && alert.error">
  <div class="alert alert-danger" style="text-align: center">
    <strong>{{alert.error}}</strong>
  </div>
</div>
