<div class="container" *ngIf="alert && alert.info">
    <div class="alert alert-info" style="text-align: center">
      <strong>{{alert.info}}</strong>
    </div>
</div>

<div class="container" *ngIf="alert && alert.successMessage">
    <div [@state]="alert.successMessage == null" class="alert alert-success" style="text-align: center">
      <strong>
        <i style="padding-right: 2em" class="fa fa-check fa-lg" aria-hidden="true"></i>
        {{alert.successMessage}}
      </strong>
  </div>
</div>

<div class="container" *ngIf="alert && alert.error">
  <div class="alert alert-danger" style="text-align: center">
    <strong><i style="padding-right: 2em" class="fa fa-times fa-lg" aria-hidden="true"></i>{{alert.error}}</strong>
  </div>
</div>
