<div class="container" *ngIf="lunch">
  <div class="list-group" style="padding: 20px;">
    <h4>{{title}}
      <small *ngIf="hasMap"><a href={{lunch.restaurant.website}} target="_blank">map <i class="fa fa-external-link"
                                                                                        aria-hidden="true"></i></a>
      </small>
      <span *ngIf="!lunch.joined">
        <button [disabled]="!isActive" [class.btn-success]="isActive" class="btn-lg pull-right"
                (click)="join(lunch)">Join</button>
      </span>
      <span *ngIf="lunch.joined">
        <button [disabled]="!isActive" [class.btn-danger]="isActive" class="btn-lg pull-right" (click)="leave(lunch)">Leave</button>
      </span>
    </h4>
    <div>
      {{lunch.restaurant.description}}
    </div>
    <div>
      Starts at: {{startTime}}
    </div>
    <div>
      Max Size: {{lunch.maxSize}}
      <div *ngIf="lunch.participants && lunch.participants.length > 0 ">
        <br>
        <div>
          People going
          <div *ngFor="let participant of lunch.participants">
            <div class="list-group-item">
              {{participant.firstName}} {{participant.lastName}} joined on {{participant.joined | date:"dd.MM.yy"}} at
              {{participant.joined | date:"hh:mm a"}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4>Comments:</h4>
  <message-list [lunch]="lunch"></message-list>
</div>
