<alert-detail [alert]="alert"></alert-detail>

<div class="container" *ngIf="lunch">
  <div class="list-group" style="padding: 20px;">
    <h4>{{title}} <small *ngIf="hasMap"><a href={{lunch.restaurant.website}} target="_blank">map <i class="fa fa-external-link" aria-hidden="true"></i></a></small>
      <span *ngIf="!lunch.joined">
        <button [class.disabled]="!lunch.active" class="btn-lg btn-success pull-right" (click)="join(lunch)">Join</button>
      </span>
      <span *ngIf="lunch.joined">
        <button class="btn-lg btn-danger pull-right" (click)="leave(lunch)">Leave</button>
      </span>
    </h4>
    <div>
      {{lunch.restaurant.description}}
    </div>
    <div>
      Starts at: {{startTime}}
    </div>
    <div>
      Max Size: {{lunch.maxSize}}
      <div *ngIf="lunch.participants && lunch.participants.length > 0 ">
        <div class="row">
          <div class="col-xs-12">
            People going
          </div>
          <div *ngFor="let participant of lunch.participants">
            <div class="list-group-item">
              {{participant.firstName}} {{participant.lastName}} joined on {{participant.joined | date:"dd.MM.yy"}} at {{participant.joined | date:"hh:mm a"}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
