<alert-detail [alert]="alert"></alert-detail>

<div class="container" *ngIf="lunch">
  <div class="list-group" style="padding: 20px;">
    <h4>{{lunch.lunchName}} at {{lunch.restaurant.name}}
      <button class="btn-lg btn-success pull-right" (click)="join(lunch)">Join</button>
    </h4>
    <div>
      {{lunch.restaurant.description}}
    </div>
    <div>
      Starts at: {{startTime}}
    </div>
    <div>
      Max Size: {{lunch.maxSize}}
      <div *ngIf="lunch.participants && lunch.participants.length > 0 ">
        <div class="row">
          <div class="col-xs-12">
            People going
          </div>
          <div *ngFor="let participant of lunch.participants">
            <div class="list-group-item">
              {{participant.userName}} joined on {{participant.joined | date:"dd.MM.yy HH:mm"}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
