@import "theme";

$font-stack: Helvetica, sans-serif;
$primary-dark: #24292e;
$primary-light: #d3d3d3;
$primary-accept: #2cbe4e;
$primary-reject: #d73a49;
$light-text: rgba(255, 255, 255, 0.75);

html, body {
  font-family: $font-stack;
  height: 100vh;
  background-color: $primary-light;
  color: $primary-dark;
}

header {
  .navbar {
    margin-bottom: 0;
    background-color: $primary-dark;
    color: $light-text;
    a:hover {
      background-color: lighten($primary-dark, 10%);
    }
    .navbar-nav > li > .dropdown-menu {
      background-color: $primary-dark;
      color: $light-text;
    }
    .navbar-nav .dropdown-toggle {
      background-color: $primary-dark;
      color: $light-text;
    }
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $primary-dark;
  color: $light-text;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.panel-default > .panel-heading {
  background-color: lighten($primary-dark, 10%);
  color: $light-text;
}

.disabled {
  cursor: not-allowed;
}

.lm-btn-welcome {
  margin: 10px;
  width: 150px;
}

.loading-container {
  position: fixed;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  display: block;
}

.loading-animation {
  width: 500px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -250px;
}

.list-group-item {
  border-left: 0;
  border-right: 0;
  margin-bottom: 2px;
  background-color: lighten($primary-dark, 5%);
  color: $light-text;
  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
}

.completer-dropdown {
  width: 100% !important;
}

.completer-row {
  padding: 5px;
  color: #000000;
  margin-bottom: 4px;
  clear: both;
  display: inline-block;
  width: 100%;
}

.completer-dropdown-holder {
  width: inherit;
  position: relative;
}

.completer-selected-row {
  background-color: lightblue;
  color: #ffffff;
  width: 100% !important;;
}

.match {
  color: orangered;
}

.form-label {
  color: black;
  font-size: 0.95em;
}

.horizontal-space {
  height: 100px;
  width: 100%;
  float: none;
}

.centered-form .panel {
  border: solid 2px $primary-dark;
  background: lighten($primary-dark, 10%);
  color: whitesmoke;
}

label.label-floatlabel {
  font-weight: bold;
  color: #46b8da;
  font-size: 11px;
}

.btn-success {
  background-color: #2cbe4e;
}

.lunch-detail-container {
  border: 2px solid $primary-dark;
}

.btn-danger {
  background-color: #d73a49;
}

*::-webkit-input-placeholder {
  color: #838383;
}

*:-moz-placeholder {
  color: #838383;
}

