@()(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>Lunch-Mator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">
    <script src="@routes.Assets.versioned("javascripts/vendorjs/ics.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/vendorjs/ics-deps.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/vendorjs/filesaver.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/vendorjs/blob.js")"></script>
    <script src="@routes.Assets.versioned("lib/core-js/client/shim.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/zone.js/dist/zone.js")"></script>
    <script src="@routes.Assets.versioned("lib/reflect-metadata/Reflect.js")"></script>
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.src.js")"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
      <!-- 2. Configure SystemJS -->
    <script src="@routes.Assets.versioned("javascripts/system.config.js")"></script>
    <script>
      System.import('app').catch(function (err) {
        console.error(err);
      });
    </script>
  </head>
  <body>
  @content
  </body>
</html>
