<alert-detail [alert]="alert"></alert-detail>

<div class=" container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Start {{randomWord}} lunch</h1>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div class="form-group">
              <input [(ngModel)]="lunchName" type="text" name="lunch-name" id="lunch-name" class="form-control"
                     placeholder="Give your lunch {{randomWord}} name">
            </div>
          <div class="col-xs-12">
            <div class="form-group">
              <ng2-completer [(ngModel)]="restaurantName" [dataService]="dataService" [minSearchLength]="2"
                             inputName="Restaurant name" placeholder="Restaurant name" (selected)="select($event)"
                             [matchClass]="'match'">
              </ng2-completer>
            </div>
          </div>
          <div class="col-xs-6">
            <div class='form-group'>
              <input [(ngModel)]="startDate" type='string' class="form-control" placeholder="Start date YYYY-MM-DD"/>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <input [(ngModel)]="startTime" type='string' class="form-control" placeholder="Start time HH:MM"/>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <input [(ngModel)]="maxSize" type="number" min="0" max="50" name="lunch-name" id="lunch-size"
                     class="form-control"
                     placeholder="Table size">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox" style="color: black; size: 1.5em; padding-left: 15px;">
              <input type="checkbox" [(ngModel)]="anonymous" checked>Anonymous
            </div>
          </div>
          <button type="submit" (click)="createTable()" class="btn btn-info btn-block">
            <div *ngIf="!waiting">Create lunch table</div>
            <i *ngIf="waiting" class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
