<div class=" container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Start new lunch</h1>
        </div>
        <form name="start-lunch" class="panel-body">
          <div class="col-xs-12">
            <div class="form-group">
              <input [(ngModel)]="lunchName" name="lunch-name" type="text" name="lunch-name" id="lunch-name" class="form-control"
                     placeholder="Give your lunch name">
            </div>
            <div class="form-group">
              <div class="input-group" style="margin: 0px;">
                <div style="margin-right: 10px">
                </div>
                <ng2-completer [(ngModel)]="restaurantName"
                               name = "restaurant-name"
                               [datasource]="dataService" [minSearchLength]="1"
                               inputName="Restaurant name" placeholder="Restaurant name"
                               (selected)="selectRestaurant($event)"
                               [clearUnselected]="true"
                               [fillHighlighted]="false"
                               [matchClass]="'match'">
                </ng2-completer>

                <span class="input-group-btn" style="padding-right: 2px">
                  <button class="btn btn-default" type="button"
                          (click)="randomRestaurant()">I am feeling lucky!</button>
                </span>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" routerLink="/s/restaurant/list">Restaurants</button>
                </span>
              </div>
            </div>
            <div class="row form-group">
              <div class='col-xs-2'><label class="form-label">Date</label>
                <input [(ngModel)]="startDD" name="dd" type='number' min="1" max="31" class="form-control"
                       placeholder="DD"/>
              </div>
              <div class='col-xs-2'><label class="form-label">Month</label>
                <input [(ngModel)]="startMM" name="mm" type='number' min="1" max="12" class="form-control"
                       placeholder="MM"/>
              </div>
              <div class='col-xs-2'><label class="form-label">Year</label>
                <input [(ngModel)]="startYY" name="yy" type='number' min="16" max="20" class="form-control" placeholder="YY"/>
              </div>
              <div class='col-xs-2 col-md-offset-1'><label class="form-label">Hour</label>
                <input [(ngModel)]="startHH" name="hh" type='number' min="11" max="16" class="form-control" placeholder="hh"/>
              </div>
              <div class='col-xs-1' style="color: black;padding-top: 32px;">:
              </div>
              <div class='col-xs-2'><label class="form-label">Min</label>
                <input [(ngModel)]="startMin" name="min" type='number' min="0" max="59" class="form-control" placeholder="mm"/>
              </div>
              <div class="">
                <div class='col-xs-6'>
                  <button class="btn-default" style="width: 100%; margin-top: 10px" (click)="today()">Today</button>
                </div>
                <div class='col-xs-6'>
                  <button class="btn-default" style="width: 100%; margin-top: 10px" (click)="tomorrow()">Tomorrow
                  </button>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-xs-6">
                <div class="form-group">
                  <input [(ngModel)]="maxSize" name="size" type="number" min="1" max="50" name="lunch-size" id="lunch-size"
                         class="form-control"
                         placeholder="Table size (default: 5)">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="checkbox" style="color: black; size: 1.5em; padding-left: 15px;">
                  <input type="checkbox" [(ngModel)]="anonymous" name="anonymous" checked>Anonymous
                </div>
              </div>
            </div>
            <div class="form-group">
              <user-select></user-select>
            </div>
            <button type="submit" (click)="createTable()" class="btn btn-info btn-block"> Create lunch table</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
