<div>
  <div>
    <div *ngIf="above">
      <div class="selected" *ngFor="let item of selected">
        <div class="btn btn-primary">
          <div (click)="remove(item)"><span>{{item}}</span><i class="fa fa-close" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>
    <input id="country" type="text" class="form-control"
           [(ngModel)]=query
           (keyup)=filter()
           [placeholder]="placeholder"
    >
  </div>
  <div *ngIf="!above">
    <div class="selected" *ngFor="let item of selected">
      <div class="btn btn-primary">
        <div (click)="remove(item)"><span>{{item}}</span><i class="fa fa-close" aria-hidden="true"></i></div>
      </div>
    </div>
  </div>
  <div class="suggestions" *ngIf="filteredList.length > 0">
    <ul *ngFor="let item of filteredList">
      <li>
        <a (click)="select(item)">{{item}}</a>
      </li>
    </ul>
  </div>
</div>
